
.DS_Store
*.swp

__pycache__/
*.pyc

pgdata/
worker1/data/
worker2/data/
worker3/data/
worker4/data/
**/pg_wal/
**/base/
**/pg_stat/
**/pg_xact/
**/pg_replslot/
**/pg_commit_ts/
**/pg_dynshmem/
**/pg_logical/
**/global/
**/pg_tblspc/
**/pg_twophase/
**/postmaster.pid
**/postmaster.opts

build/
local/

.vscode/

*.log
